@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

.wrap{
  
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    max-width: 980px;
    box-sizing: border-box;
}
.button-hover:hover{
 background-color: #003366;
  color: #ededed;
}
.dropdown-menu-custom {
  width: 330px;
  max-height: 700px;
  overflow-y: auto;
  z-index: 2147483647; /* Bootstrap dropdown z-index */
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: absolute;
  
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.dropdown-menu-custom::-webkit-scrollbar {
  display: none;
}

.menu-link {
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  display: block;
}

.menu-link:hover {
  background-color: #f8f9fa;
  color: #dc3545 !important; /* Bootstrap red */
}

.info-link {
  padding: .5rem 1rem;
 color:black;
  text-decoration: none;
  display: block;
  font-weight: 600;
  font-size:20px;
}

.info-link:hover {
  background-color: #dbeafe;
}
.ArticleCard-title{
  margin-top: 1rem;
  font-size: 22px;
  text-decoration: none;
  color:black;
  font-weight: 700;
  line-height: 1;

}
.ArticleCard-title:hover{
  text-decoration: underline;
}
.underline:hover{
  text-decoration: underline;
}


.ArticleCard-lighttitle{
  font-size: 16px;
  text-decoration: none;
  color:black;
  font-weight: 500;
line-height: 1;
}
.ArticleCard-lighttitle:hover{
  text-decoration: underline;
}
.leftimagetitle{
  font-size: 22px;
  text-decoration: none;
  color:black;
  font-weight: 700;
  line-height: 1;
}
.leftimagetitle:hover{
  text-decoration: underline;
}
.mostreadtitle{
  font-size: 16px;
  text-decoration: none;
  color:black;
  font-weight: 400;
  line-height: 1;
}
.mostreadtitle:hover{
  text-decoration: underline;
}